
.side-bar {
  background-color: #5e9ea1;
  font-weight: bold;
  font-size: 20px;
}

.side-bar-brand {
  font-size: 24px;
  font-weight: bolder;
}

.mg-top {
  margin-top: 50px;
}

.about-para {
  text-indent: 30px;
}

.about-language-tool-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.about-language-tool {
  display: flex;
  justify-content: space-around;
}

.about-icon {
  height: 6%;
  width: 6%;
}

.main-header {
  font-size: 32px;
  font-weight: bolder;
  color: cadetblue;
}

.main-mg-top {
  margin-top: 20px;
}

.main-color-font {
  color: black !important;
  padding-top: 60px;
}

@media (max-width:770px){
  .about{
    margin-top: 0;
  }
  .about-para {
    text-indent: 30px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-image {
  height: 250px;
  width: 250px;
}

.about-info-header {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
}

.about-info-title {
  font-weight: bold;
}

.about-info-flag {
  height: 3%;
  width: 3%;
  margin-left: 3px;
  margin-right: 5px;
}

.about-info {
  font-size: 18px;
}

.mg-bottom {
  margin-bottom: 50px;
}

.row-content {
  display: flex;
  justify-content: center;
}

.mg-top-row {
  margin-top: 30px;
}

.hover-right:hover {
  margin-top: 5px;
  margin-right: 5px;
}

.hover-left:hover {
  margin-top: 5px;
  margin-left: 5px;
}

@media (max-width:1399px){
  .mg-top-col {
    margin-top: 30px;
  }

  .hover-right:hover .hover-left:hover {
    margin: 0;
  }

  .row-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-title {
  font-weight: bolder;
  font-size: 24px;
}

.link {
  text-decoration: none;
  color: black;
}

.btn-bg {
  background-color: cadetblue
}

.btn-mg-left {
  margin-left: 5px;
}

.font-18 {
  font-size: 18px;
}

.card-icon {
  height: 8%;
  width: 8%;
  margin-right: 15px;
}

.text-proj-info {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}

.proj-icon {
  height: 2.1%;
  width: 2.1%;
  margin-left: 5px;
}

.footer-pd {
  padding-bottom: 15px;
  font-weight: bold;
}

.contact-icon {
  height: 10%;
  width: 10%;
}
